<!-- extend base layout -->
{% extends "base.html" %}

<!-- this block is inserted into body of base.html -->  
{% block content %}
  <div class="centered">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>fname</th>
          <th>lname</th>
          <th>username</th>
          <th>lat</th>
          <th>long</th>
          <th>gender</th>
          <th>age</th>
          <th>comments</th>
          <th>likes</th>
          <th>dislikes</th>
          <th>retweets</th>
        </tr>
      </thead>

      <tbody>
        <!-- Each curly brace will be dereferenced before serving html -->  
        {% for user in users %}
          <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['fname'] }}</td>
            <td>{{ user['lname'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['lat'] }}</td>
            <td>{{ user['long'] }}</td>
            <td>{{ user['gender'] }}</td>
            <td>{{ user['age'] }}</td>
            <td>{{ user['comments'] }}</td>
            <td>{{ user['likes'] }}</td>
            <td>{{ user['dislikes'] }}</td>
            <td>{{ user['retweets'] }}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
{% endblock %}