/*
{property}-{sides}-{size}

Where property is one of:
m - for classes that set margin
p - for classes that set padding

Where sides is one of:
t - for classes that set margin-top or padding-top
b - for classes that set margin-bottom or padding-bottom
l - for classes that set margin-left or padding-left
r - for classes that set margin-right or padding-right
x - for classes that set both *-left and *-right
y - for classes that set both *-top and *-bottom
a - for classes that set a margin or padding on all 4 sides of the element

Where size is one of:
0 - for classes that eliminate the margin or padding by setting it to 0
1 - (by default) for classes that set the margin or padding to $spacer-x or $spacer-y
2 - (by default) for classes that set the margin or padding to $spacer-x * 1.5 or $spacer-y * 1.5
3 - (by default) for classes that set the margin or padding to $spacer-x * 3 or $spacer-y * 3
*/
:root {--spacer-x: .5em; --spacer-y: .5em; }

.m-t-0 { margin-top: 0 !important; }
.m-t-1 { margin-top: calc(var(--spacer-y) * 1) !important; }
.m-t-2 { margin-top: calc(var(--spacer-y) * 2) !important; }
.m-t-3 { margin-top: calc(var(--spacer-y) * 3) !important; }

.m-b-0 { margin-bottom: 0 !important; }
.m-b-1 { margin-bottom: calc(var(--spacer-y) * 1) !important; }
.m-b-2 { margin-bottom: calc(var(--spacer-y) * 2) !important; }
.m-b-3 { margin-bottom: calc(var(--spacer-y) * 3) !important; }

.m-l-0 { margin-left: 0 !important; }
.m-l-1 { margin-left: calc(var(--spacer-y) * 1) !important; }
.m-l-2 { margin-left: calc(var(--spacer-y) * 2) !important; }
.m-l-3 { margin-left: calc(var(--spacer-y) * 3) !important; }

.m-r-0 { margin-right: 0 !important; }
.m-r-1 { margin-right: calc(var(--spacer-y) * 1) !important; }
.m-r-2 { margin-right: calc(var(--spacer-y) * 2) !important; }
.m-r-3 { margin-right: calc(var(--spacer-y) * 3) !important; }

.m-y-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.m-y-1 { margin-top: calc(var(--spacer-y) * 1) !important; margin-bottom: calc(var(--spacer-y) * 1) !important; }
.m-y-2 { margin-top: calc(var(--spacer-y) * 2) !important; margin-bottom: calc(var(--spacer-y) * 2) !important; }
.m-y-3 { margin-top: calc(var(--spacer-y) * 3) !important; margin-bottom: calc(var(--spacer-y) * 3) !important; }

.m-x-0 { margin-left: 0 !important; margin-right: 0 !important; }
.m-x-1 { margin-left: calc(var(--spacer-y) * 1) !important; margin-right: calc(var(--spacer-y) * 1) !important; }
.m-x-2 { margin-left: calc(var(--spacer-y) * 2) !important; margin-right: calc(var(--spacer-y) * 2) !important; }
.m-x-3 { margin-left: calc(var(--spacer-y) * 3) !important; margin-right: calc(var(--spacer-y) * 3) !important; }

.m-a-0 { margin: 0 0 !important;}
.m-a-1 { margin: calc(var(--spacer-y) * 1) calc(var(--spacer-x) * 1) !important; }
.m-a-2 { margin: calc(var(--spacer-y) * 2) calc(var(--spacer-x) * 2) !important; }
.m-a-3 { margin: calc(var(--spacer-y) * 3) calc(var(--spacer-x) * 3) !important; }

.p-t-0 { padding-top: 0 !important; }
.p-t-1 { padding-top: calc(var(--spacer-y) * 1) !important; }
.p-t-2 { padding-top: calc(var(--spacer-y) * 2) !important; }
.p-t-3 { padding-top: calc(var(--spacer-y) * 3) !important; }

.p-b-0 { padding-bottom: 0 !important; }
.p-b-1 { padding-bottom: calc(var(--spacer-y) * 1) !important; }
.p-b-2 { padding-bottom: calc(var(--spacer-y) * 2) !important; }
.p-b-3 { padding-bottom: calc(var(--spacer-y) * 3) !important; }

.p-l-0 { padding-left: 0 !important; }
.p-l-1 { padding-left: calc(var(--spacer-y) * 1) !important; }
.p-l-2 { padding-left: calc(var(--spacer-y) * 2) !important; }
.p-l-3 { padding-left: calc(var(--spacer-y) * 3) !important; }

.p-r-0 { padding-right: 0 !important; }
.p-r-1 { padding-right: calc(var(--spacer-y) * 1) !important; }
.p-r-2 { padding-right: calc(var(--spacer-y) * 2) !important; }
.p-r-3 { padding-right: calc(var(--spacer-y) * 3) !important; }

.p-y-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.p-y-1 { padding-top: calc(var(--spacer-y) * 1) !important; padding-bottom: calc(var(--spacer-y) * 1) !important; }
.p-y-2 { padding-top: calc(var(--spacer-y) * 2) !important; padding-bottom: calc(var(--spacer-y) * 2) !important; }
.p-y-3 { padding-top: calc(var(--spacer-y) * 3) !important; padding-bottom: calc(var(--spacer-y) * 3) !important; }

.p-x-0 { padding-left: 0 !important; padding-right: 0 !important; }
.p-x-1 { padding-left: calc(var(--spacer-y) * 1) !important; padding-right: calc(var(--spacer-y) * 1) !important; }
.p-x-2 { padding-left: calc(var(--spacer-y) * 2) !important; padding-right: calc(var(--spacer-y) * 2) !important; }
.p-x-3 { padding-left: calc(var(--spacer-y) * 3) !important; padding-right: calc(var(--spacer-y) * 3) !important; }

.p-a-0 { padding: 0 0 !important;}
.p-a-1 { padding: calc(var(--spacer-y) * 1) calc(var(--spacer-x) * 1) !important; }
.p-a-2 { padding: calc(var(--spacer-y) * 2) calc(var(--spacer-x) * 2) !important; }
.p-a-3 { padding: calc(var(--spacer-y) * 3) calc(var(--spacer-x) * 3) !important; }
